@page "/Cadastro"
<h1>Cadastro</h1>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Cliente</CardTitle>
            </CardHeader>
            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Nome</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Insira o nome do cliente" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Telefone</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Insira o numero do cliente" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Email</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Role="TextRole.Email" Placeholder="email" />
                    </FieldBody>
                </Field>

                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Sintomas</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <MemoEdit Rows="5" />
                    </FieldBody>
                </Field>

                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Data</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <DateEdit TValue="DateTime?" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Hora</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TimeEdit TValue="TimeSpan?" TimeChanged="@((v)=>Console.WriteLine(v))" />
                    </FieldBody>
                </Field>

                <Button style="float:right;" Color="Color.Primary">Salvar</Button>
            </CardBody>
        </Card>
    </Column>
</Row>
