@page "/Inicio"

<h1>Próximas Consultas</h1>

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5">Marcos</CardTitle>


                <CardText>
                    Extração
                </CardText>


            </CardBody>

            <ListGroup Flush="true">
                <ListGroupItem>30/01/20 14:30</ListGroupItem>
                <ListGroupItem>Molar inferior direito</ListGroupItem>
            </ListGroup>

            <CardBody>
                <CardLink Source="/Clientes">Editar</CardLink>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5">Lucas</CardTitle>


                <CardText>
                    Limpeza
                </CardText>


            </CardBody>

            <ListGroup Flush="true">
                <ListGroupItem>10/02/20 14:30</ListGroupItem>
                <ListGroupItem>Sem anestesia</ListGroupItem>
            </ListGroup>

            <CardBody>
                <CardLink Source="/Clientes">Editar</CardLink>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5">Regina</CardTitle>


                <CardText>
                    Canal
                </CardText>


            </CardBody>

            <ListGroup Flush="true">
                <ListGroupItem>12/02/20 17:30</ListGroupItem>
                <ListGroupItem>Molar esquerdo</ListGroupItem>
            </ListGroup>

            <CardBody>
                <CardLink Source="/Clientes">Editar</CardLink>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5">Paula</CardTitle>


                <CardText>
                    Extração
                </CardText>


            </CardBody>

            <ListGroup Flush="true">
                <ListGroupItem>15/02/20 15:45</ListGroupItem>
                <ListGroupItem>Siso</ListGroupItem>
            </ListGroup>

            <CardBody>
                <CardLink Source="/Clientes">Editar</CardLink>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5">Juliana</CardTitle>


                <CardText>
                    Clareamento
                </CardText>


            </CardBody>

            <ListGroup Flush="true">
                <ListGroupItem>20/02/20 14:30</ListGroupItem>
                <ListGroupItem>Início</ListGroupItem>
            </ListGroup>

            <CardBody>
                <CardLink Source="/Clientes">Editar</CardLink>
            </CardBody>
        </Card>
    </Column>
</Row>

