@page "/Agenda"

<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnDesktop.IsHalf.OnWidescreen">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Agenda</CardTitle>
            </CardHeader>
            <CardBody>
                <Table Bordered="true">
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Dom</TableHeaderCell>
                            <TableHeaderCell>Seg</TableHeaderCell>
                            <TableHeaderCell>Ter</TableHeaderCell>
                            <TableHeaderCell>Qua</TableHeaderCell>
                            <TableHeaderCell>Qui</TableHeaderCell>
                            <TableHeaderCell>Sex</TableHeaderCell>
                            <TableHeaderCell>Sab</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        <TableRow>
                            <TableRowCell>1</TableRowCell>
                            <TableRowCell>2</TableRowCell>
                            <TableRowCell>3</TableRowCell>
                            <TableRowCell>4</TableRowCell>
                            <TableRowCell>5</TableRowCell>
                            <TableRowCell>6</TableRowCell>
                            <TableRowCell>7</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>8</TableRowCell>
                            <TableRowCell>9</TableRowCell>
                            <TableRowCell>10</TableRowCell>
                            <TableRowCell>11</TableRowCell>
                            <TableRowCell>12</TableRowCell>
                            <TableRowCell>13</TableRowCell>
                            <TableRowCell>14</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>15</TableRowCell>
                            <TableRowCell>16</TableRowCell>
                            <TableRowCell>17</TableRowCell>
                            <TableRowCell>18</TableRowCell>
                            <TableRowCell>19</TableRowCell>
                            <TableRowCell>20</TableRowCell>
                            <TableRowCell>21</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>22</TableRowCell>
                            <TableRowCell>23</TableRowCell>
                            <TableRowCell>24</TableRowCell>
                            <TableRowCell>25</TableRowCell>
                            <TableRowCell>26</TableRowCell>
                            <TableRowCell>27</TableRowCell>
                            <TableRowCell>28</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>29</TableRowCell>
                            <TableRowCell>30</TableRowCell> 
                        </TableRow>
                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>