@page "/"
@inject NavigationManager NavigationManager

<Container>
<Column>
    <Card>
        <CardHeader>
            <CardTitle>Login</CardTitle>
        </CardHeader>
        <CardBody>
            <Field>
                <FieldLabel>Email</FieldLabel>
                <TextEdit Placeholder="Insira o Email" />
                <FieldHelp>Nunca iremos compartilhar suas informações</FieldHelp>
            </Field>
            <Field>
                <FieldLabel>Senha</FieldLabel>
                <TextEdit Role="TextRole.Password" Placeholder="Senha"/>
            </Field>
            <Button Color="Color.Primary" @onclick="Redirect">Login</Button>
        </CardBody>
    </Card>
</Column>
</Container>

@code {

    void Redirect()
    {
        NavigationManager.NavigateTo("/Inicio");
    }
}